<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li *ngFor="let item of numberOfPages;let i = index">
            <span (click)="choosePage(i)">
                {{ i + 1 }}
            </span>    
        </li>
        
<!--
        <li class="page-item disabled">
            <span class="page-link">
                First
            </span>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">
                1
            </a>
        </li>
        <li class="page-item active">
            <span class="page-link">
                2
                <span class="sr-only">(current)</span>
            </span>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">
                3
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">
                Last
            </a>
        </li>
-->
    </ul>
</nav>
