<div class="container product-list-container">
    <div class="row">
        <div class="col-md-12">   
            <ng-container *ngIf="numberOfPages != undefined">
                <app-pagination [pages]=
                    "[
                        {'num':1,'class':''},
                        {'num':2,'class':''},
                        {'num':3,'class':''},
                        {'num':'...','class':''},
                        {'num':8,'class':''},
                        {'num':9,'class':''},
                        {'num':10,'class':''}
                    ]" 
                    [numberOfPages]="numberOfPages.length" 
                    (pageNumber)="choosePage($event)"
                >
                </app-pagination>
            </ng-container>     
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">    
            <div class="product-list">
                <app-product-item [products]="productsView">
                </app-product-item>
            </div>
        </div>    
    </div>
    
    
        
</div>

