<div class="container product-list-container">
    
    <div class="row">
        <div class="col-md-12">    
            <div class="product-list">
                <app-product-item [products]="productsView">
                </app-product-item>
            </div>
        </div>    
    </div>
    
    <div class="row">
        <div class="col-md-12">   
            <app-pagination [numberOfPages]="numberOfPages" (pageNumber)="choosePage($event)">
            </app-pagination>
        </div>
    </div>
        
</div>

