<div class="container product-list-container">
    <div class="row">
        <div class="col-md-12">   
            
                <app-pagination [pages]= "pages" 
                    [numberOfPages]="numberOfPages"
                    (pageNumber)="choosePage($event)"
                    [pageIndex]="pageIndex"
                >
                </app-pagination>
              
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">    
            <div class="product-list">
                <app-product-item [products]="productsView">
                </app-product-item>
            </div>
        </div>    
    </div>
    
</div>
