.navbar-top {
    background:#fff;
    height:144px;
    font-size:14px;
    min-height:144px;
}

.navbar-top .logo-top {
    position: absolute;
    top: 37%;
    left: 1%;
}    

.navbar-top .search-form {
    position: absolute;
    top: 34%;
    left: 14%;
}

.navbar-top .search-form .magnifier {
    position: absolute;
    left: 90.56%;
    right: 4.98%;
    top: 31.25%;
    bottom: 32.31%;
    cursor:pointer
}

.navbar-top .search-top { 
    width:392px;
    height:48px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    font-size:14px;
    color: #1A1B1D;
}

.navbar-top .search-top::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1A1B1D;
    opacity: 1; /* Firefox */
}

.navbar-top .search-top:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1A1B1D;
}

.navbar-top .search-top::-ms-input-placeholder { /* Microsoft Edge */
    color: #1A1B1D;
}

.active-container {
    position: absolute;
    left: 51%;
    top: 44%;
}

.promo-container {
    position: absolute;
    left: 57%;
    top: 44%;
}

.navbar-top .btn-primary {
    position: absolute;
    right: 1%;
    top: 37%;
    height:38px;
    width:88px;
    background: #FFFFFF;
    border: 1px solid #4460F7;
    box-sizing: border-box;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    color:#4460F7;
}

@media screen and (max-width: 1200px) {
    .active-container {
        left: 74%;
    }

    .promo-container {
        left: 82%;
    }
}

@media screen and (max-width: 992px) {
    .navbar-top {
        min-height: 180px;
    }
    .navbar-top .logo-top {
        top:10%;
    }
    .navbar-top .btn-primary {
        top:10%;
    }   
    .navbar-top .search-form {
        left:1%;
    }
    .active-container {
        left: 1%;
        top: 78%;
    }
    .promo-container {
        left: 10%;
        top: 78%;
    }
}    

@media screen and (max-width: 768px) {
    .active-container {
        left: 1%;
        top: 78%;
    }
    .promo-container {
        left: 14%;
        top: 78%;
    }
}    

@media screen and (max-width: 600px) {
    
    .navbar-top .search-form {
        width:99%;
    }    
    
    .navbar-top .search-form .search-top {
        width:100%;
    }
    
}    

@media screen and (max-width: 500px) {
    .promo-container {
        left: 17%;
        top: 78%;
    }
}   

@media screen and (max-width: 400px) {
    .promo-container {
        left: 22%;
        top: 78%;
    }
}    



