<nav class="navbar navbar-expand-lg navbar-light navbar-top">
    
    <div class="container" style="position:relative;height:100%">
    
        <a class="navbar-brand logo-top" routerLink="/">
            john.tsh.io
        </a>
            
        <app-search>
        </app-search>    
        
        <div class="form-check form-check-inline active-container">
            <app-checkbox [id]="'inlineCheckboxActive'" [desc]="'Active'" (type)="check($event)">
            </app-checkbox>
        </div>

        <div class="form-check form-check-inline promo-container">
            <app-checkbox [id]="'inlineCheckboxPromo'" [desc]="'Promo'" (type)="check($event)">
            </app-checkbox>
        </div>

        <button type="submit" class="btn btn-primary">
            Log In
        </button>
        
    </div>    

</nav>
