.navbar-top {
    background:#fff;
    height:144px;
    font-size:14px;
    height:auto;
}

.navbar-top .search-top { 
    width:392px;
    height:48px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    font-size:14px;
    color: #1A1B1D;
}

.navbar-top .search-top::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1A1B1D;
    opacity: 1; /* Firefox */
}

.navbar-top .search-top:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1A1B1D;
}

.navbar-top .search-top::-ms-input-placeholder { /* Microsoft Edge */
    color: #1A1B1D;
}

.navbar-top .search-form { 
    position:relative;
}

.navbar-top .search-form .magnifier {
    position: absolute;
    left: 90.56%;
    right: 4.98%;
    top: 31.25%;
    bottom: 32.31%;
    cursor:pointer
}

.navbar-top .btn-primary {
    height:38px;
    width:88px;
    background: #FFFFFF;
    border: 1px solid #4460F7;
    box-sizing: border-box;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    color:#4460F7;
}




