<nav class="navbar navbar-expand-lg navbar-light navbar-top">
    
    <div class="container" style="position:relative;height:100%">
    
        <a class="navbar-brand logo-top" routerLink="/">
            john.tsh.io
        </a>
            
        <app-search>
        </app-search>    
        
        <div class="form-check form-check-inline active-container">
            <label class="form-check-label" for="inlineCheckboxActive">
                <input class="form-check-input" type="checkbox" id="inlineCheckboxActive" >
                <span class="checkmark">
                </span>
                Active    
            </label>
        </div>

        <div class="form-check form-check-inline promo-container">
            
            <label class="form-check-label" for="inlineCheckboxPromo">
                <input class="form-check-input" type="checkbox" id="inlineCheckboxPromo" >
                <span class="checkmark">
                </span>    
                Promo
            </label>
        </div>

        <button type="submit" class="btn btn-primary">
            Log In
        </button>
        
    </div>    

</nav>
