.navbar-top {
    background:#fff;
    height:144px;
    font-size:14px;
    min-height:144px;
}

.navbar-top .logo-top {
    position: absolute;
    top: 37%;
    left: 1%;
}    

.active-container {
    position: absolute;
    left: 51%;
    top: 44%;

}

.promo-container {
    position: absolute;
    left: 58%;
    top: 44%;

}

label {
    position: relative;
    padding-left: 9px;
    padding-top: 2px;
}

input[type="checkbox"]{
    opacity:0;
}

span.checkmark {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    border: 1px solid #E0E2EA;
}

input:checked ~ .checkmark {
    background-color: #4460F7;
}

input:checked ~ .checkmark:after {
    display: block;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navbar-top .btn-primary {
    position: absolute;
    right: 1%;
    top: 37%;
    height:38px;
    width:88px;
    background: #FFFFFF;
    border: 1px solid #4460F7;
    box-sizing: border-box;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    color:#4460F7;
}

@media screen and (max-width: 1200px) {
    .active-container {
        left: 73%;
    }

    .promo-container {
        left: 81%;
    }
}

@media screen and (max-width: 992px) {
    .navbar-top {
        min-height: 180px;
    }
    .navbar-top .logo-top {
        top:10%;
    }
    .navbar-top .btn-primary {
        top:10%;
    }   
    .navbar-top .search-form {
        left:1%;
    }
    .active-container {
        left: 1%;
        top: 78%;
    }
    .promo-container {
        left: 12%;
        top: 78%;
    }
}    

@media screen and (max-width: 768px) {
    .active-container {
        left: 1%;
        top: 78%;
    }
    .promo-container {
        left: 17%;
        top: 78%;
    }
}    

@media screen and (max-width: 600px) {

    .navbar-top .search-form {
        width:99%;
    }    

    .navbar-top .search-form .search-top {
        width:100%;
    }

}    

@media screen and (max-width: 500px) {
    .promo-container {
        left: 20%;
        top: 78%;
    }
}   

@media screen and (max-width: 400px) {
    .promo-container {
        left: 25%;
        top: 78%;
    }
}    



